BOT_TOKEN=
SOLANA_RPC=https://api.mainnet-beta.solana.com
ADMIN_CHAT_IDS=8904494848
COMMISSION_WALLET=EGYMD5BCc3MAGGFrwh1pNBuWrt95S7YfSMze7PJC6qbK
COMMISSION_PERCENTAGE=7%
JUPITER_API=https://lite-api.jup.ag/swap/v1
REDIS_URL=redis://default:yourpassword@your-redis-host:6379
